<a href="https://colab.research.google.com/github/agnesei/Diploma-SNA-DataScience/blob/main/220317_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#==================================
#Numbers and Variables
#==================================

## Exercise 1

* Assign the value **13.9** to the variable **var_a**.
* Print **var_a**

In [ ]:
var_a = 13.9
print(var_a)
var_a

13.9

13.9

##Exercise 2
* Assign the value **2.8** to the variable **var_b**.
* Print **var_b**

In [ ]:
var_b = 2.8
print(var_b)
var_b

2.8

2.8

## Exercise 3
* Round **var_a** using the **round()** function and reassign the rounded value to **var_a**.
* Print **var_a**

In [ ]:
var_a = round(var_a)
var_a

14

##Exercise 4
* Convert **var_b** from float to integer using the **int()** function and reassign the rounded value to **var_b**.
* Print **var_b**

In [ ]:
var_b = int(var_b)
var_b

2

##Exercise 5
* Print the sum of **var_a** and **var_b**.

In [ ]:
print(var_a + var_b)

15.9

##Exercise 6
* Assign the value **5** to the variable **num1**
* Increase the value of the variable **num1** by 4 units with shorthands
* Assign the value **10.5** to the variable **num2**
* Decrease the value of the variable **num2** by 1 with shorthands
* Multiply the sum of **num1** and **num2** by 3 and print the result

In [ ]:
num1 = 5
num1 += 4
num2 = 10.5
num2 -= 1
print((num1 + num2)*3)

55.5

##Exercise 7
* Ask the user to enter a number and save it in the variable **var1**
* Print **var1**

In [ ]:
var1 = input("numero?")
print(var1)

numero?5
5

#==================================
#Strings and sequences
#==================================

##Exercise 1
* Assign the string **I like programming in Python** to the variable **myString**
* Print the variable **myString**

In [ ]:
myString = "I like programming in Python"
print(myString)
myString

I like programming in Python

'I like programming in Python'


##Exercise 2
* Assign the **4.0** string to the **score** variable
* Print the concatenation of the string **result =**  and the **score** variable

In [ ]:
score = "4.0"
print("resut = " + score)

resut = 4.0


##Exercise 3
* Assign the following strings to the variables **s1**, **s2** and **s3** respectively:<br>
The value "3.14" is an approximation of pi<br>
She's going to school<br>
Ungaretti wrote "M'illumino d'immenso" in 1917<br>
* Print **s1**, **s2** and **s3**

In [ ]:
s1 = 'The value "3.14" is an approximation of pi'
s2 = "She's going to school"
s3 = "Ungaretti wrote \"M'illumino d'immenso \" in 1917"
print(s1 + " " + s2 + " " + s3)

The value "3.14" is an approximation of pi She's going to school Ungaretti wrote "M'illumino d'immenso " in 1917

##Exercise 4
* Print the concatenation of the first, third, fifth and seventh characters of the string **It is never too late to learn**

In [ ]:
myString = "It is never too late to learn"
print(myString[0] + myString[2] + myString[4] + myString[6])

I sn


##Exercise 5
* Print the concatenation of the last, third last, fifth last character of the string **A good thought can save a lot of time**

In [ ]:
myString = "A good thought can save a lot of time"
print(myString[-1]+ myString[-3] + myString[-5])

ei


##Exercise 6
* Print 10 times, always in a new line, the string **I'm faster than Bart Simpson**

In [ ]:
myString="I'm faster than Bart Simpson"
i=0
while i < 10:
  print (i)
  print(myString + "\n")
  i += 1
  print (i)

0
I'm faster than Bart Simpson

1
1
I'm faster than Bart Simpson

2
2
I'm faster than Bart Simpson

3
3
I'm faster than Bart Simpson

4
4
I'm faster than Bart Simpson

5
5
I'm faster than Bart Simpson

6
6
I'm faster than Bart Simpson

7
7
I'm faster than Bart Simpson

8
8
I'm faster than Bart Simpson

9
9
I'm faster than Bart Simpson

10

##Exercise 7
* Extract (and print) from the string **Programming in Python** the substring **Program**

In [ ]:
myString = "Programming in Python"
print(myString[0:7])

Program

##Exercise 8
* Make lowercase all the characters in the string **Very Often Who Seeks Finds**
* Print the resulting string

In [ ]:
myString = "Very Often Who Seeks Finds"
print(myString.lower())

very often who seeks finds

##Exercise 9
* Assign the value **5** to the variable **var1**
* Assign the value **6** to the variable **var2**
* Assign the concatenation of the string **total =** to the variable **res** with the result of the sum of **var1** and **var2**
* Print the variable **res**

In [ ]:
var1 = 5
var2= 6
#vartot= print(var1 + var2)
#vartot = str(vartot)
#res = print("total = " + vartot)
res = "total = " + str(var1 + var2)
print(res)

total = 11

#================
#Lists
#================

##Exercise 1
* Create the list **myList** containing the following elements:<br> 
1<br>
two<br>
True<br>
* Print the second and third elements of the list

In [ ]:
myList = ("1", "two", "True")
print(myList[1:])

('two', 'True')

##Exercise 2
* Create the empty list **myList**
* Add the following items to myList:<br> 
one<br>
three<br>
four<br>
* Print the list
* Insert between the first and second element of the list the following element:<br> 
two<br>
* Print the list again

In [ ]:
myList = []
print (myList)
myList.append("one")
myList.append("three")
myList.append("four")
print(myList)
myList.insert(1,"two")
print(myList)

[]
['one', 'three', 'four']
['one', 'two', 'three', 'four']

##Exercise 3
* Create the list **names1** containing the following elements: Dominic, Paul, Mary
* Create the list **names2** containing the following elements: Tony, Antony, Gabriel
* Print the list **names3** containing all the names contained in **names1** and **names2**
* Print the third element of the list **names3**
* Print the first two elements of the list **names3**
* Print the names contained in **names3** in reverse alphabetical order

In [ ]:
names1 = ["Dominic", "Paul", "Mary"]
names2 = ["Tony", "Antony", "Gabriel"]
names3 = names1 + names2
print(names3[2])
print(names3[:2])
print(names3)
names3.sort(reverse=True)
print(names3)

Mary
['Dominic', 'Paul']
['Dominic', 'Paul', 'Mary', 'Tony', 'Antony', 'Gabriel']
['Tony', 'Paul', 'Mary', 'Gabriel', 'Dominic', 'Antony']

##Exercise 4
* Create the **color** list containing the following elements: white, red, green, blue, yellow
* Print the concatenation of the first and the third element of the list
* Remove the last item in the list
* Print the number of items contained in the list
* Add the **purple** color at the end of the list
* Print the modified list
* Replace the first color in the list with the color **orange**
* Remove the **red** color from the list
* Print the resulting list

In [ ]:
color = ["white", "red", "green", "blue", "yellow"]
print(color[0]+color[1])
color = color[:4]
color.append("purple")
print(color)
color = color[1:]
color.insert(0,"orange")
print(color)
color.remove("red")
print(color)

whitered
['white', 'red', 'green', 'blue', 'purple']
['orange', 'red', 'green', 'blue', 'purple']
['orange', 'green', 'blue', 'purple']

#================
#Tuples
#================

##Exercise 1
* Create the tuple **myTuple** containing the following elements: 123, Tyrion, Lannister, employee
* Print the second and the third element of the tuple
* Print the last element of the tuple
* Print the number of elements contained in the tuple
* Print the index of the **Lannister** element contained in the tuple

#================
#Sets
#================

##Exercise 1
* Create the set **months** containing the following elements: Jan, Feb, Mar, Apr, May, Jun
* Print the set
* Remove the **Jan** element from the set
* Print the set

##Exercise 2
* Create an empty set called **days**
* Add the following items to the set: Mon, Tue, Wed, Thu, Fri, Sat, Sun
* Print the set
* Calculate and print the number of items in the set

##Exercise 3
* Assign the value **123456789** to the string called **numString**
* Create the set **num** containing the numbers from 1 to 9 starting from **numString**
* Print the set
* Delete all elements from the set

##Exercise 4
* Create the set called **set1** containing the following elements: 1, 2, 3, 4, 5
* Create the set called **set2** containing the following elements: 1, 2, 3, 4, 5, 6, 7, 8, 9
* Verify that **set1** is contained in **set2**
* Generate the set called **set3** containing only the elements not in common between **set1** and **set2**
* Print the maximum value of the obtained set

##Exercise 5
* Create the set called **names** containing the following elements: Mario, Luigi
* Create the set called **primes** containing the following elements: 2, 3, 5, 7, 11
* Create the set called **shapes** containing the following elements: triangle, square, circle
* Create the set called **finalSet** as the union of the previous three sets

#================
#Dictionaries
#================

##Exercise 1
* Create an empty dictionary called **myDiz**
* add to **myDiz** 5 elements having:
* - the first 5 letters of the alphabet as keys
* - as corresponding values the numbers from 1 to 5
* Print the created dictionary
* Print the value associated with the key **c**

##Exercise 2
* Create the **square** dictionary with the following 5 key-value pairs:<br>
5:25<br>
3:9<br>
4:16<br>
1:1<br>
2:4<br>
* Print all the dictionary keys
* Print all the dictionary values
* Add the key-value pair **6:36** to the dictionary
* Delete the **1:1** pair from the dictionary
* Set the value **111** in correspondence with key **5**
* Print the dictionary
* Remove all items from the dictionary

##Exercise 3
* Create the **diz1** dictionary containing the following key-value pairs:<br> 1:10<br>
2:20<br>
* Create the **diz2** dictionary containing the following key-value pairs:<br> 3:30<br>
4:40<br>
* Create the **diz3** dictionary containing the following key-value pairs:<br> 5:50<br>
6:60<br>
* Add the elements of **diz2** and **diz3** to **diz1**
* Print **diz1**.

#================
#Conditional statements
#================

##Exercise 1
* Write a code snippet that:
* - asks the user to enter 3 integers
* - prints the maximum of the entered values

##Exercise 2
* Write a code snippet that:
* - saves a name entered by the user in the variable **name1**
* - saves a second name entered by the user in the variable **name2**
* - prints the longest name among those entered

##Exercise 3
* Write a code snippet that:
* - asks the user to enter an integer between 1 and 7 (extremes included)
* - print the first 3 letters of the corresponding day of the week (e.g. 6 ==> **Sat**)
* - prints the string **wrong input** in case of illegal values entered

##Exercise 4
* Write a code snippet that:
* - asks the user to enter a person's **name** and **age**
* - check that the name entered is valid (it must contain only letters)
* - check that the age entered is valid (number between 0 and 130)
* - based on the name (whether it ends with the letter "o" or not) and age, print one of these sentences:<br>
name is an adult man<br>
name is an underage man<br>
name is an adult woman<br>
name is an underage woman<br>

* NB: normally names ending in "o" (at least in Italy) are considered men names

#================
#Iteration
#================

##Exercise 1
* Using a while loop print the first 20 natural numbers

##Exercise 2
* Write a code snippet that:
* - assigns a string containing a name to the variable **name**
* - asks the user to type a name until the name typed is the same as the one contained in the **name** variable
* - prints "Correct!" when the name entered by the user is the same as that contained in the **name** variable

##Exercise 3
* Write a code snippet that:
* - assigns a string containing a name to the variable **name**
* - assigns an integer between 1 and 9 to the **maxAttempts** variable
* - asks the user to type a name until one of the following 2 conditions is met:
*  - * 1) the name entered is the same as that contained in the **name** variable
*  - *  2) the number of attempts is greater than the value of **maxAttempts**
* - prints "Name guessed!" when the name entered by the user is the same as that contained in the **name** variable
* - prints "No more attempts ..." when the number of attempts available without guessing has been exceeded

##Exercise 4
* Write a code snippet that prints all natural numbers between 1000 and 2000 (inclusive) that are multiples of 5 and divisible by 7.

##Exercise 5
* Write a code snippet that parsing integers from 1 to 50 prints:
* - the number of even integers
* - the number of integers divisible by 3

##Exercise 6
* Write a code snippet that prints the multiplication table of the first 10 integers
* (consult the print documentation if necessary)

##Exercise 7
* Write a code snippet that produces the following output:<br>
1<br>
22<br>
333<br>
4444<br>
55555<br>

#==================
#Comprehensions
#==================


##Exercise 1
* Enter all even integers between 0 and 50 in the list called **myList**

##Exercise 2
* Create and print the list **list1** containing all the integers between 1 and 20
* Create and print the list **list2** containing the elements of **list1** multiplied by three


##Exercise 3
* Create and print the **words** list containing the following elements:<br> 
a<br>
list<br> 
of<br>
words<br>
* Create and print the **firstLetters** list containing the first letter of each element of **words**


##Exercise 4
* Create and print the **numbers** list containing all the numbers in the string **350 Fifth Avenue, New York City, NY 10118**

#==================
#Functions
#==================

##Exercise 1
* Write a function that calculates the number of seconds contained in a number of days, hours, and minutes entered by the user.

##Exercise 2
* Write a function that calculates the factorial of an integer given as input by the user.
* (the factorial of a natural number n is the product of all positive integers less than or equal to n)

##Exercise 3
* Write a function that returns a list of numbers representing the lengths of the words contained in a list of strings provided as input to the function.

##Exercise 4
* Write a function that calculates the sum of the elements of a list of numbers provided as input to the function.


##Exercise 5
* Write a function that takes a character as input and returns:
* - True if the character is a vowel
* - False otherwise

#==================
#Exceptions
#==================

##Exercise 1
Write a code snippet that:
- saves an integer entered by the user in the variable **num1**
- saves a second integer entered by the user in the variable **num2**
- prints the sum of the 2 numbers or an error message if a string was entered in place of a number

##Exercise 2
* The following block of code has one or more sources of possible errors at runtime.
* Modify the code appropriately in order to make it more robust.
* Test the robustness of the code.<br><br>

def myFunction1():<br>
    &nbsp;&nbsp;&nbsp;&nbsp;for i in range(3):<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x = int (input("Please enter a number:"))<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;y = int (input("Please enter another number:"))<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print (str(x) + "/" + str(y) + " = " + str(x / y))<br><br>

myFunction1()

##Exercise 3
* The following block of code has one or more sources of possible errors at runtime.
* Modify the code appropriately in order to make it more robust.
Test the robustness of the code.<br><br>

def myFunction2(L):<br>
    &nbsp;&nbsp;&nbsp;&nbsp;sum = []<br>
    &nbsp;&nbsp;&nbsp;&nbsp;for i in range (len (L)):<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sum.append(L [i] + L [i + 1])<br>
    &nbsp;&nbsp;&nbsp;&nbsp;print("sum =" + str (sum))
    
L = [10, 3, 5, 6, 9, 3]
myFunction2(L)

##Exercise 4
* The following block of code has one or more sources of possible errors at runtime.
* Modify the code appropriately in order to make it more robust.
* Test the robustness of the code.<br><br>

def printFile (filename):<br>
   &nbsp;&nbsp;&nbsp;&nbsp;file = open (filename, "r")<br>
   &nbsp;&nbsp;&nbsp;&nbsp;for line in file:<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print (line.upper ())<br>
   &nbsp;&nbsp;&nbsp;&nbsp;file.close ()<br>
   <br>
open("fileNotYetCreated.txt", "w").close()<br>
printFile("fileNotYetCreated.txt")<br>
printFile("./Dessssktop/error.txt")<br>

#==================
#Modules
#==================

##Exercise 1
* Write a code snippet that:
* - Create the **squares** list containing the following elements: 16, 9, 64, 25
* - Generates and prints the **roots** list containing the roots of the elements contained in **squares**

##Exercise 2
* Write a code snippet that:
* - Create the **numbers** list containing 15 randomly generated values between 20 and 80
* - Print the **numbers** list after having sorted the elements
* - Compute and print mean, median and standard deviation related to the values of **numbers**

##Exercise 3
* Write a code snippet that prints the name and version of your operating system.

#==================
#Files
#==================

##Exercise 1
* Create (manually) the text file **test.txt** containing at least 5 non-blank lines in the working directory.
* Write a code snippet that reads and print the entire text file created earlier.

##Exercise 2
* Create (manually) the text file **test.txt** containing at least 5 non-blank lines in the working directory.
* Write a snippet of code that reads the file one line at a time and saves it to a list.
* Print the resulting list.


##Exercise 3
* Create (manually) the text file **test.txt** containing at least 5 non-blank lines in the working directory.
* Write a code snippet that prints the longest word contained in the test.txt file

##Exercise 4
* Write a code snippet that:
* - Create the **color** list containing the following elements: green, white, red, black, yellow
* - Writes each element of the list to a new line of the **colors.txt** text file
* - Reads and prints the contents of the colors.txt file

##Exercise 5
* Create (manually) the text file **test.txt** containing at least 5 non-blank lines in the working directory.
* Write a code snippet that:
* - removes all newline characters from the text contained in the test.txt file
* - print the contents of the file cleaned of newlines

#==================
#Classes
#==================

##Exercise 1
* Write a Python class named **Circle** constructed by a radius and two methods which will compute the area and the perimeter of a circle.
* Create a circle object and compute its area and perimeter.

##Exercise 2
* Model the relationship between the following 2 concepts:
* - Square
* - Rectangle
* Add the necessary methods for computing the area and the perimeter.