<a href="https://colab.research.google.com/github/agnesei/Diploma-SNA-DataScience/blob/main/Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#==================================
#Numbers and Variables
#==================================

## Exercise 1

* Assign the value **13.9** to the variable **var_a**.
* Print **var_a**

In [ ]:
var_a = 13.9
print(var_a)
var_a

13.9

13.9

##Exercise 2
* Assign the value **2.8** to the variable **var_b**.
* Print **var_b**

In [ ]:
var_b = 2.8
print(var_b)
var_b

2.8

2.8

## Exercise 3
* Round **var_a** using the **round()** function and reassign the rounded value to **var_a**.
* Print **var_a**

In [ ]:
var_a = round(var_a)
print(var_a)
var_a

14

14

##Exercise 4
* Convert **var_b** from float to integer using the **int()** function and reassign the rounded value to **var_b**.
* Print **var_b**

In [ ]:
var_b = int(var_b)
print(var_b)

2

##Exercise 5
* Print the sum of **var_a** and **var_b**.

In [ ]:
print(var_a + var_b)
var_a + var_b

16

16

##Exercise 6
* Assign the value **5** to the variable **num1**
* Increase the value of the variable **num1** by 4 units with shorthands
* Assign the value **10.5** to the variable **num2**
* Decrease the value of the variable **num2** by 1 with shorthands
* Multiply the sum of **num1** and **num2** by 3 and print the result

In [ ]:

num1 = 5
num1 += 4
num2 = 10.5
num2 -= 1
print((num1 + num2) * 3)

55.5

##Exercise 7
* Ask the user to enter a number and save it in the variable **var1**
* Print **var1**

In [ ]:
var1 = input("Enter a number: ")
print(var1)

Enter a number: 11
11

#==================================
#Strings and sequences
#==================================

##Exercise 1
* Assign the string **I like programming in Python** to the variable **myString**
* Print the variable **myString**

In [ ]:
myString = "I like programming in Python"
print(myString)

I like programming in Python


##Exercise 2
* Assign the **4.0** string to the **score** variable
* Print the concatenation of the string **result =**  and the **score** variable

In [ ]:
score = "4.0"
print("result = " + score)

result = 4.0


##Exercise 3
* Assign the following strings to the variables **s1**, **s2** and **s3** respectively:<br>
The value "3.14" is an approximation of pi<br>
She's going to school<br>
Ungaretti wrote "M'illumino d'immenso" in 1917<br>
* Print **s1**, **s2** and **s3**

In [ ]:
s1 = 'The value "3.14" is an approximation of pi'
s2 = "She's going to school"
s3 = "Ungaretti wrote \"M'illumino d'immenso\" in 1917"
print(s1)
print(s2)
print(s3)

The value "3.14" is an approximation of pi
She's going to school
Ungaretti wrote "M'illumino d'immenso" in 1917

##Exercise 4
* Print the concatenation of the first, third, fifth and seventh characters of the string **It is never too late to learn**

In [ ]:
s = "It is never too late to learn"
print(s[0]+s[2]+s[4]+s[6])

I sn


##Exercise 5
* Print the concatenation of the last, third last, fifth last character of the string **A good thought can save a lot of time**

In [ ]:
s = "A good thought can save a lot of time"
print(s[-1]+s[-3]+s[-5])

ei


##Exercise 6
* Print 10 times, always in a new line, the string **I'm faster than Bart Simpson**

In [ ]:
s = "I'm faster than Bart Simpson\n"
print(s*10)

I'm faster than Bart Simpson
I'm faster than Bart Simpson
I'm faster than Bart Simpson
I'm faster than Bart Simpson
I'm faster than Bart Simpson
I'm faster than Bart Simpson
I'm faster than Bart Simpson
I'm faster than Bart Simpson
I'm faster than Bart Simpson
I'm faster than Bart Simpson

##Exercise 7
* Extract (and print) from the string **Programming in Python** the substring **Program**

In [ ]:
s = "Programming in Python"
print(s[0:7])

Program

##Exercise 8
* Make lowercase all the characters in the string **Very Often Who Seeks Finds**
* Print the resulting string

In [ ]:
s = "Very Often Who Seeks Finds"
s = s.lower()
print(s)

very often who seeks finds

##Exercise 9
* Assign the value **5** to the variable **var1**
* Assign the value **6** to the variable **var2**
* Assign the concatenation of the string **total =** to the variable **res** with the result of the sum of **var1** and **var2**
* Print the variable **res**

In [ ]:
var1 = 5
var2 = 6
res = "total = " + str(var1 + var2)
print(res)

total = 11

#================
#Lists
#================

##Exercise 1
* Create the list **myList** containing the following elements:<br> 
1<br>
two<br>
True<br>
* Print the second and third elements of the list

In [ ]:
myList = [1, "two", True]
print(myList[1:])

['two', True]

##Exercise 2
* Create the empty list **myList**
* Add the following items to myList:<br> 
one<br>
three<br>
four<br>
* Print the list
* Insert between the first and second element of the list the following element:<br> 
two<br>
* Print the list again

In [ ]:
myList = []
myList.append("one")
myList.append("three")
myList.append("four")
print(myList)
myList.insert(1,"two")
print(myList)

['one', 'three', 'four']
['one', 'two', 'three', 'four']

##Exercise 3
* Create the list **names1** containing the following elements: Dominic, Paul, Mary
* Create the list **names2** containing the following elements: Tony, Antony, Gabriel
* Print the list **names3** containing all the names contained in **names1** and **names2**
* Print the third element of the list **names3**
* Print the first two elements of the list **names3**
* Print the names contained in **names3** in reverse alphabetical order

In [ ]:
names1 = ["Dominic", "Paul", "Mary"]
names2 = ["Tony", "Antony", "Gabriel"]
names3 = names1 + names2
print(names3)
print(names3[2])
print(names3[:2])
names3.sort(reverse=True)
print(names3)

['Dominic', 'Paul', 'Mary', 'Tony', 'Antony', 'Gabriel']
Mary
['Dominic', 'Paul']
['Tony', 'Paul', 'Mary', 'Gabriel', 'Dominic', 'Antony']

##Exercise 4
* Create the **color** list containing the following elements: white, red, green, blue, yellow
* Print the concatenation of the first and the third element of the list
* Remove the last item in the list
* Print the number of items contained in the list
* Add the **purple** color at the end of the list
* Print the modified list
* Replace the first color in the list with the color **orange**
* Remove the **red** color from the list
* Print the resulting list

In [ ]:
color = ["white", "red", "green", "blue", "yellow"]
print(color[0]+color[2])
color.remove(color[-1])
print(len(color))
color.append("purple")
print(color)
color[0]="orange"
color.remove("red")
print(color)

whitegreen
4
['white', 'red', 'green', 'blue', 'purple']
['orange', 'green', 'blue', 'purple']

#================
#Tuples
#================

##Exercise 1
* Create the tuple **myTuple** containing the following elements: 123, Tyrion, Lannister, employee
* Print the second and the third element of the tuple
* Print the last element of the tuple
* Print the number of elements contained in the tuple
* Print the index of the **Lannister** element contained in the tuple

In [ ]:
myTuple = (123, "Tyrion", "Lannister", "employee")
print(myTuple[1:3])
print(myTuple[-1])
print(len(myTuple))
print(myTuple.index("Lannister"))

('Tyrion', 'Lannister')
employee
4
2

#================
#Sets
#================

##Exercise 1
* Create the set **months** containing the following elements: Jan, Feb, Mar, Apr, May, Jun
* Print the set
* Remove the **Jan** element from the set
* Print the set

In [ ]:
months = {"Jan", "Feb", "Mar", "Apr", "May", "Jun"}
print(months)
months.remove("Jan")
print(months)

{'Jan', 'May', 'Mar', 'Jun', 'Feb', 'Apr'}
{'May', 'Mar', 'Jun', 'Feb', 'Apr'}

##Exercise 2
* Create an empty set called **days**
* Add the following items to the set: Mon, Tue, Wed, Thu, Fri, Sat, Sun
* Print the set
* Calculate and print the number of items in the set

In [ ]:
days = set()
days.add("Mon")
days.add("Tue")
days.add("Wed")
days.add("Thu")
days.add("Fri")
days.add("Sat")
days.add("Sun")
print(days)
print(len(days))

{'Wed', 'Thu', 'Tue', 'Mon', 'Fri', 'Sun', 'Sat'}
7

##Exercise 3
* Assign the value **123456789** to the string called **numString**
* Create the set **num** containing the numbers from 1 to 9 starting from **numString**
* Print the set
* Delete all elements from the set

In [ ]:
numString = "123456789"
num = set(numString)
print(num)
num.clear()
print(num)

{'3', '7', '5', '4', '1', '6', '9', '2', '8'}
set()

##Exercise 4
* Create the set called **set1** containing the following elements: 1, 2, 3, 4, 5
* Create the set called **set2** containing the following elements: 1, 2, 3, 4, 5, 6, 7, 8, 9
* Verify that **set1** is contained in **set2**
* Generate the set called **set3** containing only the elements not in common between **set1** and **set2**
* Print the maximum value of the obtained set

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
set1_in_set2 = set1 < set2
print("set1 in set2: " + str(set1_in_set2))
set3 = set1.symmetric_difference(set2)
print(set3)
print("set3 maximum value: " + str(max(set3)))

set1 in set2: True
{6, 7, 8, 9}
set3 maximum value: 9

##Exercise 5
* Create the set called **names** containing the following elements: Mario, Luigi
* Create the set called **primes** containing the following elements: 2, 3, 5, 7, 11
* Create the set called **shapes** containing the following elements: triangle, square, circle
* Create the set called **finalSet** as the union of the previous three sets

In [ ]:
names = {"Mario", "Luigi"}
primes = {2, 3, 5, 7, 11}
shapes = {"triangle", "square", "circle"}
finalSet = names | primes | shapes
print(finalSet)

{'Luigi', 2, 3, 'Mario', 5, 7, 'circle', 'square', 11, 'triangle'}

#================
#Dictionaries
#================

##Exercise 1
* Create an empty dictionary called **myDiz**
* add to **myDiz** 5 elements having:
* - the first 5 letters of the alphabet as keys
* - as corresponding values the numbers from 1 to 5
* Print the created dictionary
* Print the value associated with the key **c**

In [ ]:
myDiz = {}

myDiz["a"] = 1 
myDiz["b"] = 2
myDiz["c"] = 3
myDiz["d"] = 4
myDiz["e"] = 5

# alternative solution
#myDiz.update({'a':1,'b':2,'c':3,'d':4,'e':5})

print(myDiz)
print(myDiz["c"])

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
3

##Exercise 2
* Create the **square** dictionary with the following 5 key-value pairs:<br>
5:25<br>
3:9<br>
4:16<br>
1:1<br>
2:4<br>
* Print all the dictionary keys
* Print all the dictionary values
* Add the key-value pair **6:36** to the dictionary
* Delete the **1:1** pair from the dictionary
* Set the value **111** in correspondence with key **5**
* Print the dictionary
* Remove all items from the dictionary

In [ ]:
square = {5:25, 3:9, 4:16, 1:1, 2:4}
print(square.keys())
print(square.items())
square[6] = 36
del square[1]
square[5] = 111
print(square)
square.clear()
print(square)

dict_keys([5, 3, 4, 1, 2])
dict_items([(5, 25), (3, 9), (4, 16), (1, 1), (2, 4)])
{5: 111, 3: 9, 4: 16, 2: 4, 6: 36}
{}

##Exercise 3
* Create the **diz1** dictionary containing the following key-value pairs:<br> 1:10<br>
2:20<br>
* Create the **diz2** dictionary containing the following key-value pairs:<br> 3:30<br>
4:40<br>
* Create the **diz3** dictionary containing the following key-value pairs:<br> 5:50<br>
6:60<br>
* Add the elements of **diz2** and **diz3** to **diz1**
* Print **diz1**.

In [ ]:
diz1 = {1:10, 2:20}
diz2 = {3:30, 4:40}
diz3 = {5:50, 6:60}
diz1.update(diz2)
diz1.update(diz3)
print(diz1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

#================
#Conditional statements
#================

##Exercise 1
* Write a code snippet that:
* - asks the user to enter 3 integers
* - prints the maximum of the entered values

In [ ]:
num1 = int(input("enter the first integer: "))
num2 = int(input("enter the second integer: "))
num3 = int(input("enter the last integer: "))
if num1 >= num2 and num1 >= num3:
    print("the max value among entered numbers is " + str(num1))
elif num2 >= num1 and num2 >= num3:
    print("the max value among entered numbers is " + str(num2))
else:
    print("the max value among entered numbers is " + str(num3))

enter the first integer: 1
enter the second integer: 2
enter the last integer: 3
the max value among entered numbers is 3

##Exercise 2
* Write a code snippet that:
* - saves a name entered by the user in the variable **name1**
* - saves a second name entered by the user in the variable **name2**
* - prints the longest name among those entered

In [ ]:
name1 = input("enter the first name: ")
name2 = input("enter the second name: ")
if len(name1) > len(name2):
    print(name1)
elif len(name1) < len(name2):
    print(name2)
else:
    print("the 2 entered names have the same length")

enter the first name: Marc
enter the second name: Paul
the 2 entered names have the same length

##Exercise 3
* Write a code snippet that:
* - asks the user to enter an integer between 1 and 7 (extremes included)
* - print the first 3 letters of the corresponding day of the week (e.g. 6 ==> **Sat**)
* - prints the string **wrong input** in case of illegal values entered

In [ ]:
num = int(input("enter an integer between 1 and 7 (extremes included): "))
if num == 1:
    print("Mon")
elif num == 2:
    print("Tue")
elif num == 3:
    print("Wed")
elif num == 4:
    print("Thu")
elif num == 5:
    print("Fri")
elif num == 6:
    print("Sat")
elif num == 7:
    print("Sun")
else:
    print("wrong input")

enter an integer between 1 and 7 (extremes included): 7
Sun

##Exercise 4
* Write a code snippet that:
* - asks the user to enter a person's **name** and **age**
* - check that the name entered is valid (it must contain only letters)
* - check that the age entered is valid (number between 0 and 130)
* - based on the name (whether it ends with the letter "o" or not) and age, print one of these sentences:<br>
name is an adult man<br>
name is an underage man<br>
name is an adult woman<br>
name is an underage woman<br>

* NB: normally names ending in "o" (at least in Italy) are considered men names

In [ ]:
name = input("enter a name (only letters): ")
age = input("enter age (integer between 0 and 130): ")

is_valid_name = name.isalpha()
is_valid_age = age.isdigit() and (int(age)>=0 and int(age)<=130)

if is_valid_name and is_valid_age:

    man = name.endswith("o")
    adult = (int(age)>=18)
    if man and adult:
        print(name + " is an adult man")
    elif man and not adult:
        print(name + " is an underage man")
    elif not man and adult:
        print(name + " is an adult woman")
    elif not man and not adult:
        print(name + " is an underage woman")
        
else:
    print("wrong data entered")

enter a name (only letters): Cinzia
enter age (integer between 0 and 130): 31
Cinzia is an adult woman

#================
#Iteration
#================

##Exercise 1
* Using a while loop print the first 20 natural numbers

In [ ]:
i = 1
while i <= 20:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

##Exercise 2
* Write a code snippet that:
* - assigns a string containing a name to the variable **name**
* - asks the user to type a name until the name typed is the same as the one contained in the **name** variable
* - prints "Correct!" when the name entered by the user is the same as that contained in the **name** variable

In [ ]:
name = "marco"
entered = input("Enter a name: ")
while entered != name:
    entered = input("Not correct, enter another name: ")
print("Correct!")

Enter a name: Marco
Not correct, enter another name: marco
Correct!

##Exercise 3
* Write a code snippet that:
* - assigns a string containing a name to the variable **name**
* - assigns an integer between 1 and 9 to the **maxAttempts** variable
* - asks the user to type a name until one of the following 2 conditions is met:
*  - * 1) the name entered is the same as that contained in the **name** variable
*  - *  2) the number of attempts is greater than the value of **maxAttempts**
* - prints "Name guessed!" when the name entered by the user is the same as that contained in the **name** variable
* - prints "No more attempts ..." when the number of attempts available without guessing has been exceeded

In [ ]:
name = "marco"
maxAttempts = 3
numAttempt = 1
exceededAttempts = False

nameEntered = input("Enter a name: ")
while nameEntered != name and not exceededAttempts:
    if numAttempt < maxAttempts:
        nameEntered = input("Non guessed, enter another name: ")
        numAttempt = numAttempt + 1
    else:
        exceededAttempts = True

if exceededAttempts:
    print("No more attempts ...")
else:
    print("Name guessed!")

Enter a name: lucia
Non guessed, enter another name: sergio
Non guessed, enter another name: marco
Name guessed!

##Exercise 4
* Write a code snippet that prints all natural numbers between 1000 and 2000 (inclusive) that are multiples of 5 and divisible by 7.

In [ ]:
for i in range(1000,2000,1):
    if i % 5 == 0 and i % 7 == 0:
        print(i)

1015
1050
1085
1120
1155
1190
1225
1260
1295
1330
1365
1400
1435
1470
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995

##Exercise 5
* Write a code snippet that parsing integers from 1 to 50 prints:
* - the number of even integers
* - the number of integers divisible by 3

In [ ]:
numEven = 0
numDivBy3 = 0
for i in range(1,50,1):
    if i % 2 == 0:
        numEven += 1
    if i % 3 == 0:
        numDivBy3 += 1
print(numEven)
print(numDivBy3)

24
16

##Exercise 6
* Write a code snippet that prints the multiplication table of the first 10 integers
* (consult the print documentation if necessary)

In [ ]:
for i in range(1,11,1):
    for j in range(1,11,1):
        print(str(i*j), end = "\t")
        if j == 10:
            print("")

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

##Exercise 7
* Write a code snippet that produces the following output:<br>
1<br>
22<br>
333<br>
4444<br>
55555<br>

In [ ]:
for i in range(6):
    print(str(i) * i)

1
22
333
4444
55555

#==================
#Comprehensions
#==================


##Exercise 1
* Enter all even integers between 0 and 50 in the list called **myList**

In [ ]:
myList = [i for i in range(2,50,2)]
print(myList)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

##Exercise 2
* Create and print the list **list1** containing all the integers between 1 and 20
* Create and print the list **list2** containing the elements of **list1** multiplied by three

In [ ]:
list1 = [i for i in range(1,21,1)]
print(list1)
list2 = [i*3 for i in list1]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]


##Exercise 3
* Create and print the **words** list containing the following elements:<br> 
a<br>
list<br> 
of<br>
words<br>
* Create and print the **firstLetters** list containing the first letter of each element of **words**

In [ ]:
words = ["a", "list", "of", "words"]
print(words)
firstLetters = [x[0] for x in words]
print(firstLetters)

['a', 'list', 'of', 'words']
['a', 'l', 'o', 'w']


##Exercise 4
* Create and print the **numbers** list containing all the numbers in the string **350 Fifth Avenue, New York City, NY 10118**

In [ ]:
myString = "350 Fifth Avenue, New York City, NY 10118"
numbers = [x for x in myString if x.isdigit()]
print(numbers)

['3', '5', '0', '1', '0', '1', '1', '8']

#==================
#Functions
#==================

##Exercise 1
* Write a function that calculates the number of seconds contained in a number of days, hours, and minutes entered by the user.

In [ ]:
def getSeconds(days, hours, minutes):
    secInDays = days * 3600 *24
    secInHours = hours * 3600
    secInMinutes = minutes * 60
    secTotal = secInDays + secInHours + secInMinutes
    return(secTotal)

print(getSeconds(1,2,1))

93660

##Exercise 2
* Write a function that calculates the factorial of an integer given as input by the user.
* (the factorial of a natural number n is the product of all positive integers less than or equal to n)

In [ ]:
def factorial(n):
    if n == 1:
        return n
    else:
        result = n * factorial(n-1)
        return result

print(factorial(4))

24

##Exercise 3
* Write a function that returns a list of numbers representing the lengths of the words contained in a list of strings provided as input to the function.

In [ ]:
def getLenghtList(listOfWords):
    lenghtList = []
    for word in listOfWords:
        lenghtList.append(len(word))
    return lenghtList

myList = ["Hello", "world", "Python"]
print(getLenghtList(myList))

[5, 5, 6]

##Exercise 4
* Write a function that calculates the sum of the elements of a list of numbers provided as input to the function.

In [ ]:
def sum_func(numList):
    result = 0
    for num in numList:
    	result += num
    return result

myList = [2, 3, 4]
print(sum_func(myList))

9


##Exercise 5
* Write a function that takes a character as input and returns:
* - True if the character is a vowel
* - False otherwise

In [ ]:
def isVowel(char):
    vowels = "aeiou"
    if char in vowels:
        return True
    else:
        return False

print(isVowel("a"))
print(isVowel("s"))

True
False

#==================
#Exceptions
#==================

##Exercise 1
Write a code snippet that:
- saves an integer entered by the user in the variable **num1**
- saves a second integer entered by the user in the variable **num2**
- prints the sum of the 2 numbers or an error message if a string was entered in place of a number

In [ ]:
num1 = input("enter an integer: ")
num2 = input("enter another integer: ")

try:
    print(int(num1) + int(num2))
except ValueError:
    print("Error, at least one of the entered values is not an integer!")

enter an integer: 1
enter another integer: a
Error, at least one of the entered values is not an integer!

##Exercise 2
* The following block of code has one or more sources of possible errors at runtime.
* Modify the code appropriately in order to make it more robust.
* Test the robustness of the code.<br><br>

def myFunction1():<br>
    &nbsp;&nbsp;&nbsp;&nbsp;for i in range(3):<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x = int (input("Please enter a number:"))<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;y = int (input("Please enter another number:"))<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print (str(x) + "/" + str(y) + " = " + str(x / y))<br><br>

myFunction1()

In [ ]:
def myFunction1():
    while True:
       try:
            x = int( input( "Please enter a number: " ) )
            y = int( input( "Please enter another number: " ) )
            print( str(x) + " / " + str(y) + " = " + str(x/y) )
            break
       except ZeroDivisionError:
            print("It is not possible to divide by 0!")
       except ValueError:
            print("You were asked to enter a number . . .")
       except:
            print("Unexpected error!")

myFunction1()

Please enter a number: q
You were asked to enter a number . . .
Please enter a number: 3
Please enter another number: 4
3 / 4 = 0.75

##Exercise 3
* The following block of code has one or more sources of possible errors at runtime.
* Modify the code appropriately in order to make it more robust.
Test the robustness of the code.<br><br>

def myFunction2(L):<br>
    &nbsp;&nbsp;&nbsp;&nbsp;sum = []<br>
    &nbsp;&nbsp;&nbsp;&nbsp;for i in range (len (L)):<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sum.append(L [i] + L [i + 1])<br>
    &nbsp;&nbsp;&nbsp;&nbsp;print("sum =" + str (sum))
    
L = [10, 3, 5, 6, 9, 3]
myFunction2(L)

In [ ]:
def myFunction2( L ):
    sum = 0
    pairSum = []
    for i in range(len(L)):
        try:
            pairSum.append( L[i]+L[i+1] )
        except IndexError:
            continue
        except TypeError:
            continue    
    print( "pair sum = " + str(pairSum))

L = [ 10, 3, 5, 6, 9, 3 ]
myFunction2(L)

pair sum = [13, 8, 11, 15, 12]

##Exercise 4
* The following block of code has one or more sources of possible errors at runtime.
* Modify the code appropriately in order to make it more robust.
* Test the robustness of the code.<br><br>

def printFile (filename):<br>
   &nbsp;&nbsp;&nbsp;&nbsp;file = open (filename, "r")<br>
   &nbsp;&nbsp;&nbsp;&nbsp;for line in file:<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print (line.upper ())<br>
   &nbsp;&nbsp;&nbsp;&nbsp;file.close ()<br>
   <br>
open("fileNotYetCreated.txt", "w").close()<br>
printFile("fileNotYetCreated.txt")<br>
printFile("./Dessssktop/error.txt")<br>

In [ ]:
def printFile(filename):
    try:
       file = open(filename, "r")
    except FileNotFoundError:
       print( "***Error*** File " + str(filename) + " not found!" )
       return False
    
    for line in file:
        print(line.upper())
    file.close()
    return True

open( "fileNotYetCreated.txt", "w" ).close()
printFile("fileNotYetCreated.txt")        
printFile("./Dessssktop/error.txt")

***Error*** File ./Dessssktop/error.txt not found!

False

#==================
#Modules
#==================

##Exercise 1
* Write a code snippet that:
* - Create the **squares** list containing the following elements: 16, 9, 64, 25
* - Generates and prints the **roots** list containing the roots of the elements contained in **squares**

In [ ]:
from math import sqrt
squares = [16, 9, 64, 25]
roots = []
for elem in squares:
    roots.append(sqrt(elem))
print(roots)

[4.0, 3.0, 8.0, 5.0]

##Exercise 2
* Write a code snippet that:
* - Create the **numbers** list containing 15 randomly generated values between 20 and 80
* - Print the **numbers** list after having sorted the elements
* - Compute and print mean, median and standard deviation related to the values of **numbers**

In [ ]:
from random import randrange
import statistics

numbers = []
for i in range(15):
    numbers.append(randrange(20, 80))

numbers.sort()
print(numbers)    
print("mean: " + str(statistics.mean(numbers)))
print("median: " + str(statistics.median(numbers)))
print("standard deviation: " + str(statistics.pstdev(numbers)))

[24, 25, 25, 30, 31, 31, 41, 43, 45, 55, 59, 59, 64, 67, 67]
mean: 44.4
median: 43
standard deviation: 15.692036196746425

##Exercise 3
* Write a code snippet that prints the name and version of your operating system.

In [ ]:
import platform

print("operating system: " + platform.system())
print("version: " + platform.release())

operating system: Linux
version: 5.4.104+

#==================
#Files
#==================

##Exercise 1
* Create (manually) the text file **test.txt** containing at least 5 non-blank lines in the working directory.
* Write a code snippet that reads and print the entire text file created earlier.

In [ ]:
def readFile(fname):
        txt = open(fname)
        print(txt.read())

readFile("test.txt")

Lorem ipsum dolor sit amet, consectetur adipisici elit,
sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco
laboris nisi ut aliquid ex ea commodi consequat. Quis aute
iure reprehenderit in voluptate velit esse cillum dolore eu
fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non
proident, sunt in culpa qui officia deserunt mollit anim id
est laborum. ParolaSmisuratamenteLunga.

##Exercise 2
* Create (manually) the text file **test.txt** containing at least 5 non-blank lines in the working directory.
* Write a snippet of code that reads the file one line at a time and saves it to a list.
* Print the resulting list.

In [ ]:
def getLinesFromFileAsList(filename):
    with open(filename) as f:
        lines = f.readlines()
    return lines

myList = getLinesFromFileAsList("test.txt")
print(myList)

['Lorem ipsum dolor sit amet, consectetur adipisici elit, \n', 'sed eiusmod tempor incidunt ut labore et dolore magna aliqua. \n', 'Ut enim ad minim veniam, quis nostrud exercitation ullamco \n', 'laboris nisi ut aliquid ex ea commodi consequat. Quis aute \n', 'iure reprehenderit in voluptate velit esse cillum dolore eu \n', 'fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non \n', 'proident, sunt in culpa qui officia deserunt mollit anim id \n', 'est laborum. ParolaSmisuratamenteLunga.']


##Exercise 3
* Create (manually) the text file **test.txt** containing at least 5 non-blank lines in the working directory.
* Write a code snippet that prints the longest word contained in the test.txt file

In [ ]:
def getLongestWordInFile(filename):
    with open(filename, 'r') as f:
        wordList = f.read().split()
    
    longest = wordList[0]
    for word in wordList:
        if len(word) >= len(longest):
            longest = word
    
    return longest

print(getLongestWordInFile('test.txt'))

ThisWordIsReallyLong.

##Exercise 4
* Write a code snippet that:
* - Create the **color** list containing the following elements: green, white, red, black, yellow
* - Writes each element of the list to a new line of the **colors.txt** text file
* - Reads and prints the contents of the colors.txt file

In [ ]:
color = ["green", "white", "red", "black", "yellow"]
with open("colors.txt", "w") as myFile:
    for c in color:
        myFile.write(str(c) + "\n")

colorFile = open("colors.txt")
print(colorFile.read())

green
white
red
black
yellow

##Exercise 5
* Create (manually) the text file **test.txt** containing at least 5 non-blank lines in the working directory.
* Write a code snippet that:
* - removes all newline characters from the text contained in the test.txt file
* - print the contents of the file cleaned of newlines

In [ ]:
def removeNewlines(filename):
    lines = open(filename).readlines()
    return [line.rstrip('\n') for line in lines]

print(removeNewlines("test.txt"))

['Lorem ipsum dolor sit amet, consectetur adipisici elit, ', 'sed eiusmod tempor incidunt ut labore et dolore magna aliqua. ', 'Ut enim ad minim veniam, quis nostrud exercitation ullamco ', 'laboris nisi ut aliquid ex ea commodi consequat. Quis aute ', 'iure reprehenderit in voluptate velit esse cillum dolore eu ', 'fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non ', 'proident, sunt in culpa qui officia deserunt mollit anim id ', 'est laborum. ThisWordIsReallyLong.']

#==================
#Classes
#==================

##Exercise 1
* Write a Python class named **Circle** constructed by a radius and two methods which will compute the area and the perimeter of a circle.
* Create a circle object and compute its area and perimeter.

In [ ]:
from math import pi

class Circle:
  
  def __init__(self, radius):
    self.radius = radius

  def get_area(self):
    return self.radius * self.radius * pi
    
  def get_perimeter(self):
    return self.radius * 2 * pi

circle = Circle(5)
area = circle.get_area()
perimeter = circle.get_perimeter()
print(area)
print(perimeter)

78.53981633974483
31.41592653589793

##Exercise 2
* Model the relationship between the following 2 concepts:
* - Square
* - Rectangle
* Add the necessary methods for computing the area and the perimeter.

In [ ]:
class Rectangle:
  
  def __init__(self, side1, side2):
    self.side1 = side1
    self.side2 = side2

  def get_area(self):
    return self.side1 * self.side2

  def get_perimeter(self):
    return (2 * self.side1) + (2 * self.side2)

class Square(Rectangle):

  def __init__(self, side):
    super().__init__(side, side)

myRect = Rectangle(3,2)
mySquare = Square(5)
print(myRect.get_area())
print(myRect.get_perimeter())
print(mySquare.get_area())
print(mySquare.get_perimeter())

6
10
25
20